In [1]:
import pandas as pd

In [7]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=["A","B","C"],index=["X","Y","Z"])
df

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [11]:
df.head(2)

   A  B  C
X  1  2  3
Y  4  5  6

In [10]:
df.tail(2)

   A  B  C
Y  4  5  6
Z  7  8  9

In [12]:
df

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [13]:
df.index

Index(['X', 'Y', 'Z'], dtype='object')

In [14]:
df.describe

<bound method NDFrame.describe of    A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9>

In [15]:
df.nunique()

A    3
B    3
C    3
dtype: int64

In [18]:
df['A'].unique()

array([1, 4, 7])

In [19]:
df.shape

(3, 3)

In [20]:
df.size

9